.r-hidden {
  display: none;
}

.r-background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: 500;
  background: rgba(0, 0, 0, 0.15);
}

.r-panel {
  display: none;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: fixed;
  overflow: hidden;
  z-index: 501;
  top: 100px;
  left: 50%;
  width: 550px;
  margin-left: -225px;
  background: #FFF;
}

.r-panel * {
  box-sizing: border-box;
}

.r-bar {
  padding: 8px;
  overflow: hidden;
}

.r-bar .r-option {
  float: left;
  width: 50%;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  border: 1px solid transparent;
  color: #3B5998;
  padding: 4px 0;
}

.r-bar .r-option:hover {
  background-color: #F2F2F2; /* gray */
  cursor: pointer;
}

.r-bar .r-option.selected {
  background-color: #F2F2F2; /* gray */
  border: 1px solid #E9EAED;
}

.r-bar .r-img {
  float: left;
  width: 25%;
}

.r-bar .r-img:last-child {
  float: right;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.gif-container {
  height: 400px;
  overflow: auto;
  position: relative;
}

.gif-container-overlay {
  position: absolute
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  display: none;
  text-align: center;
  overflow: hidden;
}

.gif-container-overlay.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.r-overlay-btn {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  border-radius: 3px;
  font-size: 18px;
  border: 1px solid #EEE;
  outline: none;
}

.r-overlay-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.r-overlay-btn.left {
  bottom: 14px;
  left: 14px;
}

.r-overlay-btn.right {
  right: 14px;
  bottom: 14px;
}

.gif-container-overlay img {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  max-height: 100%;
  outline: 0;
  height: auto;
}
