.r-hidden {
  display: none;
}

.r-background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: 500;
  background: rgba(0, 0, 0, 0.15);
}

.r-panel {
  display: none;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: fixed;
  overflow: hidden;
  z-index: 501;
  top: 30%;
  left: 50%;
  width: 340px;
  margin-left: -170px;
  background: #FFF;
}

.r-bar {
  padding: 8px;
  overflow: hidden;
}

.r-bar .r-option {
  float: left;
  width: 50%;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  border: 1px solid transparent;
  color: #3B5998;
  padding: 4px 0;
}

.r-bar .r-option:hover {
  background-color: #F2F2F2; /* gray */
  border: 1px solid #E9EAED;
  cursor: pointer;
}

.r-bar .r-option.selected {
  background-color: #F2F2F2; /* gray */
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
